.player{
    position: absolute;
    border-radius: 10px;
    background-color: #374259;
    color: white;
    width: auto;
    padding: 10px;
}

.player button{
    display: none;
}

.none-player{
    position: absolute;
}
.none-player button{
    width: 50px;
    height: 50px;
    font-size: xx-large;
    border: none;
    outline: none;
    color: white;
    background-color: blue;
}

.none-player p{
    display: none;
}

.player-active{
    border: 2px solid #FFFF00;
    box-shadow: 0 0 10px #FFFF00;
}

.player-fold{
    opacity: 0.5;
}

.username{
    font-size: small;
    color:  red;
}

.chip{
    font-size: larger;
    margin: 5px 0;
    font-weight: bold;
    color: green;
}

.role{
    font-size: small;
    font-weight: 550;
    background-color: black;
    border-radius: 10px;
    padding: 5px;
}
    
.p0{
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%)
}

.p1{
    bottom: 5%;
    left:-25%;
}

.p2{
    bottom: 30%;
    left: -30%;
}

.p3{
    top: 30%;
    left: -30%;
}

.p4{
    top: 5%;
    left: -25%;
}

.p5{
    top: -5%;
    left: 50%;
    transform: translateX(-50%)
}

.p6{
    top: 5%;
    right: -25%;
}

.p7{
    top: 30%;
    right: -30%;
}

.p8{
    bottom: 30%;
    right: -30%;
}
.p9{
    bottom: 5%;
    right:-25%;
}

p{
    margin: 0;
    padding: 0; 
}
