.card{
    position: relative;
    width: 10px;
    height: 15px;
    padding: 10px 5px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 5px;
}

.card-active{
    background-color: #B70404;
}

.card-white-line{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 70%;
    border: 1px solid rgba(245, 245, 245, 0.8);
    border-radius: 100%;
}